{
	order curl_response before respond
}


latest.cat {
	header_up Accept-Encoding identity
	reverse_proxy https://latest-cat.vercel.app {
		header_up Host latest-cat.vercel.app
	}
}

curl_response true
