---
import Logo from "./Logo.astro";
---

<footer
  class="max-w-7xl mx-auto py-5 md:px-10 md:flex justify-between align-middle"
>
  <div>
    Made by
    <a class="link" href="https://twitter.com/patrick91"> Patrick Arminio</a>
     and
    <a class="link" href="https://twitter.com/burromarco">Marco Burro</a>.
    Design by
    <a class="link" href="https://twitter.com/druguinni"> Orlando Festa</a>. Cat
    illustrations by
    <a class="link" href="https://thenounproject.com/iconka/">Denis Sazhin</a>.
  </div>

  <div class="md:block hidden">
    <a href="https://github.com/patrick91/latest.cat">GitHub</a>
  </div>
</footer>

<style>
  footer a.link {
    @apply underline font-semibold;
  }
</style>
