---
import Logo from "./Logo.astro";
import Toggle from "./Toggle.astro";

import Icon1 from "./icons/1.astro";
import Icon2 from "./icons/2.astro";
import Icon3 from "./icons/3.astro";
import Icon4 from "./icons/4.astro";
import Icon5 from "./icons/5.astro";
import Icon6 from "./icons/6.astro";

const icons = [Icon1, Icon2, Icon3, Icon4, Icon5, Icon6];

const Icon = icons[Math.floor(Math.random() * icons.length)];
---

<header class="max-w-7xl mx-auto px-10 py-5 flex justify-between items-center">
  <a href="/" class="flex-1">
    <Logo />
  </a>

  <div class="text-2xl flex-1 text-center">
    <Icon />
  </div>

  <div class="flex-1 text-right flex justify-end">
    <Toggle />
  </div>
</header>
