---
import Header from "./Header.astro";
import Logo from "./Logo.astro";
---

<div
  class="bg-pink pb-20 relative overflow-hidden dark:bg-dark dark:text-white"
>
  <div class="relative z-10">
    <Header />

    <div class="max-w-xl mx-auto text-center mt-20 mb-20">
      <Logo class="text-6xl md:text-7xl mb-5" />

      <p class="text-4xl font-sans px-5 md:px-0">
        Find the latest version of your favourite software
      </p>
    </div>

    <slot />
  </div>

  <svg
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute top-0 left-0 w-full h-full"
    preserveAspectRatio="xMinYMid slice"
    viewBox="0 0 1403 930"
  >
    <path
      d="m605.013 901.238-14.787-219.503 141.368 118.767L719.765 624.9l172.158 142.752M63.947-210l184.11 318.888-299.996-74.177L95.35 289.82l-363.946-87.504"
      class="stroke-cosmos dark:stroke-dark-gray"
      stroke-opacity={0.6}
      stroke-width={54}
      stroke-linecap="square"
      stroke-linejoin="round"></path>
    <circle
      cx={544}
      cy={229}
      r={112}
      class="stroke-cosmos dark:stroke-dark-gray"
      stroke-width={54}></circle>
    <circle
      cx={1347.5}
      cy={608.5}
      r={41.5}
      class="stroke-cosmos dark:stroke-dark-gray"
      stroke-width={28}></circle>
    <path
      d="M164.22 686.796c-87.469-50.5-17.995-192.832 79-136.832"
      class="stroke-cosmos dark:stroke-dark-gray"
      stroke-width={49}
      stroke-linecap="round"></path>
    <path
      d="M1205.61 218.958c-51.11 29.51-102.84-47.234-46.16-79.958"
      class="stroke-cosmos dark:stroke-dark-gray"
      stroke-width={29}
      stroke-linecap="round"></path>
  </svg>
</div>
