---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="mb-4 flex overflow-scroll md:overflow-auto w-full">
  <span class="mr-2 sm:mr-4 select-none">$</span>
  <pre><code>{text}</code></pre>
  <button
    class="copy-command ml-auto px-2 py-1 font-heading font-medium rounded-full hidden sm:inline hover:bg-gray text-black transition active:bg-dark-gray active:text-white items-center dark:text-white dark:hover:text-black"
  >
    Copy
  </button>
</div>

<script>
  const buttons = document.querySelectorAll(".copy-command");
  const id = "meow-audio";

  buttons.forEach((button) => {
    button.addEventListener("mouseenter", function () {
      if (!document.getElementById(id)) {
        var audio = document.createElement("audio");
        audio.id = id;
        audio.src = "/static/build/meow.wav";
        audio.preload = "auto";
        audio.volume = 0.2;
        document.body.appendChild(audio);
      }
    });

    button.addEventListener("click", () => {
      if (button.previousElementSibling) {
        const code = button.previousElementSibling.querySelector("code");

        if (code) {
          navigator.clipboard.writeText(code.innerText);

          var audio = document.getElementById(id);

          if (audio) {
            (audio as HTMLAudioElement).play();
          }
        }
      }
    });
  });
</script>
